*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.slide{
    width: 100%;
    height: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    background-color: white;
}
.over{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
}
.image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    gap: 2rem;
    cursor: pointer;
    object-fit: cover;
    transition: all 0.5s ease !important;
}
.over :hover{
    transform: scale(1.6);
}
@media screen and (max-width: 768px) {
    .slide {
        height: auto;
        padding: 1rem;
        top: 1rem;
    }
    .h{
        top: 1rem;
    }
    .over {
        height: 100px;
        width: 100px;
        gap: 1rem;
    }
    .image {
         height: 100px;
         width: 100px;
         gap: 1rem;
     } 
} 